In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as  plt
%matplotlib inline
import seaborn as sns

C:\Users\leowa\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\leowa\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [2]:
df=pd.read_csv("C:/Users/leowa/Downloads/medical_insurance_nullvalues.csv")

In [3]:
df

,membership_period,label,patient_suffix,number_of_dependants,patient_dob,location,Age,Fee Charged,patient_name,name,gender,cause,number_of_claims,employer
0,1541.0,0.0,789.0,4.0,1995.0,Kwekwe,NaN,3798.0,NaN,Chipi,female,Other,2.0,Vipe
1,8269.0,0.0,860.0,3.0,NaN,Marondera,31.0,48905.0,Sithole,Femba,female,Other,4.0,Mudo
2,6223.0,0.0,374.0,2.0,1999.0,Rusape,24.0,NaN,Chipi,Geta,female,Road Traffic Accident,2.0,Skaboo
3,8832.0,0.0,729.0,3.0,1978.0,Rusape,45.0,34948.0,Jembwa,Tichaona,female,Road Traffic Accident,6.0,Babbleset
4,8804.0,1.0,716.0,2.0,1992.0,NaN,31.0,46984.0,Foto,Chisa,female,Accident At Work,1.0,Flipopia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,NaN,0.0,595.0,3.0,1984.0,NaN,39.0,25308.0,Mabhena,Mirwa,male,Other,NaN,Trudeo
6996,438.0,NaN,158.0,1.0,1986.0,Gweru,37.0,32895.0,Bima,Chisa Chisi,male,Accident At Home,1.0,Jetwire
6997,8134.0,0.0,743.0,1.0,1980.0,Rusape,43.0,19082.0,Dihwa,Evans,male,Accident At Home,3.0,Realpoint
6998,8293.0,1.0,472.0,3.0,2001.0,Gweru,22.0,31717.0,NaN,Femba,female,Other,4.0,NaN
6999,3686.0,0.0,625.0,4.0,2003.0,Gweru,20.0,29020.0,Sibanda,Sithole,male,Other,3.0,Camimbo

In [4]:
df.shape

(7000, 14)

In [5]:
df.columns

Index(['membership_period', 'label', 'patient_suffix', 'number_of_dependants',
       'patient_dob', 'location', 'Age', 'Fee Charged', 'patient_name', 'name',
       'gender', 'cause', 'number_of_claims', 'employer'],
      dtype='object')

# extract best 500 rows

In [6]:

# Drop rows with any null values
df1 = df.dropna()

# Optionally sort by a specific column, replace 'column_name' with your desired column
df_sorted = df1.sort_values(by='label', ascending=False)

# Get the top 500 rows
top_500_rows = df_sorted.head(500)

# If you want to save the result to a new CSV
top_500_rows.to_csv('top_500_rows.csv', index=False)

# Display the resulting DataFrame
print(top_500_rows)

      membership_period  label  patient_suffix  number_of_dependants  \
3881             7784.0    1.0           792.0                   4.0
2948             5626.0    1.0           849.0                   2.0
1390             8066.0    1.0           799.0                   3.0
4676             7394.0    1.0           755.0                   3.0
1384             1714.0    1.0           262.0                   4.0
...                 ...    ...             ...                   ...
4753             2868.0    0.0           398.0                   4.0
4757             1662.0    0.0           919.0                   4.0
4758              144.0    0.0           468.0                   2.0
4777             1063.0    0.0           104.0                   1.0
4779             3051.0    0.0           805.0                   2.0

      patient_dob   location   Age  Fee Charged patient_name         name  \
3881       1997.0  Marondera  26.0      30231.0         Moyo  Chisa Chisi
2948       1976.0     Rusape  47.0       9119.0      Samvura        Chiri
1390       1982.0     Mutare  41.0       3516.0        Mirwa        Gweta
4676       1977.0     Rusape  46.0      11416.0        Konde         Bima
1384       1971.0     Harare  52.0       9550.0         Gute        Gweta
...           ...        ...   ...          ...          ...          ...
4753       1972.0     Gwanda  51.0      38692.0         Gute     Peterson
4757       1989.0     Rusape  34.0       5791.0  Chisa Chisi  Chisa Chisi
4758       1977.0     Kwekwe  46.0       3589.0        Chisa        Chisa
4777       1981.0     Mutare  42.0      16865.0     Tichaona      Mabhena
4779       2005.0     Rusape  18.0      47437.0       Jembwa         Gute

      gender             cause  number_of_claims   employer
3881    male  Accident At Work               2.0     Oyoloo
2948  female  Accident At Work               4.0    Dynabox
1390    male             Other               5.0  Linklinks
4676    male  Accident At Work               6.0       Tavu
1384  female  Accident At Home               3.0    Youtags
...      ...               ...               ...        ...
4753  female  Accident At Work               1.0      Jaloo
4757  female  Accident At Work               2.0       Lajo
4758    male             Other               3.0      Voomm
4777    male             Other               1.0  Photobean
4779  female  Accident At Work               4.0   Edgewire

[500 rows x 14 columns]

In [7]:
best = pd.read_csv("C:/Users/leowa/Downloads/top_500_rows.csv")

In [8]:
best

,membership_period,label,patient_suffix,number_of_dependants,patient_dob,location,Age,Fee Charged,patient_name,name,gender,cause,number_of_claims,employer
0,8832.0,0.0,729.0,3.0,1978.0,Rusape,45.0,34948.0,Jembwa,Tichaona,female,Road Traffic Accident,6.0,Babbleset
1,3984.0,0.0,288.0,3.0,1972.0,Gwanda,51.0,16742.0,Sibanda,Chisa,female,Road Traffic Accident,5.0,Riffpath
2,4771.0,0.0,581.0,2.0,1999.0,Gwanda,24.0,36281.0,Evans,Chiri,female,Other,6.0,Brainsphere
3,6083.0,0.0,367.0,1.0,1983.0,Rusape,40.0,49831.0,Moyo,Gute,female,Road Traffic Accident,4.0,Linktype
4,5798.0,0.0,766.0,4.0,1969.0,Kadoma,54.0,39506.0,Sibanda,Dihwa,female,Road Traffic Accident,5.0,Quinu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,5091.0,0.0,937.0,4.0,1984.0,Gweru,39.0,10674.0,Mabhena,Geta,female,Other,3.0,Dabtype
496,6861.0,0.0,340.0,2.0,2001.0,Gwanda,22.0,46251.0,Sithole,Evans,female,Accident At Home,1.0,Riffwire
497,8653.0,0.0,161.0,4.0,1970.0,Marondera,53.0,35453.0,Chisa,Moyo,female,Accident At Home,4.0,Zava
498,2924.0,0.0,536.0,2.0,1970.0,Nyanga,53.0,6890.0,Gute,Peterson,female,Other,4.0,Gabcube
499,2737.0,0.0,797.0,4.0,2007.0,Gwanda,16.0,25150.0,Nyoni,Dihwa,female,Accident At Work,1.0,Dynazzy

In [9]:
best.isnull()

,membership_period,label,patient_suffix,number_of_dependants,patient_dob,location,Age,Fee Charged,patient_name,name,gender,cause,number_of_claims,employer
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
import pandas as pd
from IPython.display import FileLink, display

# Your data processing code
df1 = df.dropna()
df_sorted = df1.sort_values(by='gender', ascending=True)
top_500_rows = df_sorted.head(500)

# Save to CSV
file_path = "top_500_rows.csv"
top_500_rows.to_csv(file_path, index=False)

# Create a download link
display(FileLink(file_path))

C:\Users\leowa\top_500_rows.csv